body {
  margin: 0;
  margin-top: 120px;
  height: 100vh;
}

.posts {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

#root {
  height: 100%;
}

.dark {
  background-color: rgb(144, 144, 144);
  color: red;
  height: 100%;
}

.light {
  background-color: rgb(243, 244, 227);
  color: black;
  height: 100%;
}
